//font-family: 'Open Sans', sans-serif;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

canvas {
  display: block;
}

.slider {
  box-sizing: border-box;
  border-style: none none solid none;
  border-width: 1px;
  border-color: black;
  padding: 2px 0;

  > input {
    vertical-align: middle;
    width: calc(100% - 70px);
  }
}

.combo {
  box-sizing: border-box;
  border-style: none none solid none;
  border-width: 1px;
  border-color: black;
  padding: 2px 0;

  > select {
    width: 20%;
  }
  > button {
    width: 35%;
  }
}

main {
  width: 100vw;
  height: 70vh;

  > .app {
    box-sizing: border-box;
    border: 1px solid red;
    width: 100%;
    height: 100%;
  }

  > .fps {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
  }

  > .credits {
    position: absolute;
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    top: 0;
    right: 5px;
  }
}

.controls {
  background-color: darkslategrey;
  width: 100vw;
  height: 30vh;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 6fr repeat(2, 7fr);
  grid-template-rows: min-content min-content;
  overflow-y: scroll;

  > div {
    text-align: center;
    overflow: hidden;
    overflow-y: visible;
  }

  > div:nth-child(n+1):nth-child(-n+3) {
    font-size: 1.5rem;
  }

  > div:nth-child(n+4):nth-child(-n+6) {

  }

  > div:nth-child(4) {

  }

  > div {
    background-color: lightblue;
  }
  > div:nth-child(odd) {
    background-color: cadetblue;
  }
}